/* GRID */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #64b5f6;
}

* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 10px;
}

.col-1 {
  min-height: 1px;
  padding: 0 10px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



/* COMPONENT STYLES */
.row {
  margin-bottom: 5px;
}

.frame {
  background-color: white;
  text-align: center;
  min-height: 147px;
  border: 1px solid black;
  padding: 5px;
}

.frame h6 {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.frame .score {
  font-size: 1.5em;
  border: 1px solid black;
}

.nav {
  text-align: center;
  background-color: grey;
  padding: 10px;
}

.scoreboard {
  text-align: center;
  background-color: white;
  border: 1px solid black;
}

.back-button {
  float: right;
}

.submit-button {
  float: left;
}

#graph {
  text-align: center;
  background-color: white;
  border: 1px solid black;
  height: 200px;
}
